Wallstreet/Service References/localhost/WallstreetDataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60129/WallstreetDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" />
  <xs:complexType name="TupleOfFirmDepotShareInformationOrder_Pkvfwmh4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{2}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FirmDepot" Namespace="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" />
          <GenericParameter Name="ShareInformation" Namespace="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" />
          <GenericParameter Name="Order" Namespace="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" name="m_Item1" nillable="true" type="q1:FirmDepot" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" name="m_Item2" nillable="true" type="q2:ShareInformation" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" name="m_Item3" nillable="true" type="q3:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfFirmDepotShareInformationOrder_Pkvfwmh4" nillable="true" type="tns:TupleOfFirmDepotShareInformationOrder_Pkvfwmh4" />
</xs:schema>