Fondsmanager/Service References/localhost/WallstreetDataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60129/WallstreetDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfShareInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShareInformation" nillable="true" type="tns:ShareInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShareInformation" nillable="true" type="tns:ArrayOfShareInformation" />
  <xs:complexType name="ShareInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirmName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFund" type="xs:boolean" />
      <xs:element minOccurs="0" name="NoOfShares" type="xs:int" />
      <xs:element minOccurs="0" name="PricePerShare" type="xs:double" />
      <xs:element minOccurs="0" name="PurchasingVolume" type="xs:int" />
      <xs:element minOccurs="0" name="SalesVolume" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShareInformation" nillable="true" type="tns:ShareInformation" />
  <xs:complexType name="ArrayOfInvestorDepot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvestorDepot" nillable="true" type="tns:InvestorDepot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvestorDepot" nillable="true" type="tns:ArrayOfInvestorDepot" />
  <xs:complexType name="InvestorDepot">
    <xs:sequence>
      <xs:element minOccurs="0" name="Budget" type="xs:double" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Shares" nillable="true" type="q1:ArrayOfKeyValueOfstringint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvestorDepot" nillable="true" type="tns:InvestorDepot" />
  <xs:complexType name="FundDepot">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InvestorDepot">
        <xs:sequence>
          <xs:element minOccurs="0" name="FundShares" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FundDepot" nillable="true" type="tns:FundDepot" />
  <xs:complexType name="InvestorRegistration">
    <xs:sequence>
      <xs:element minOccurs="0" name="Budget" type="xs:double" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvestorRegistration" nillable="true" type="tns:InvestorRegistration" />
  <xs:complexType name="FundRegistration">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Registration">
        <xs:sequence>
          <xs:element minOccurs="0" name="FundAssets" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FundRegistration" nillable="true" type="tns:FundRegistration" />
  <xs:complexType name="Registration">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shares" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Registration" nillable="true" type="tns:Registration" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvestorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFundShare" type="xs:boolean" />
      <xs:element minOccurs="0" name="Limit" type="xs:double" />
      <xs:element minOccurs="0" name="NoOfOpenShares" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfProcessedShares" type="xs:int" />
      <xs:element minOccurs="0" name="Prioritize" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShareName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:OrderStatus" />
      <xs:element minOccurs="0" name="TotalNoOfShares" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="tns:OrderType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:simpleType name="OrderStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OPEN" />
      <xs:enumeration value="PARTIAL" />
      <xs:enumeration value="DONE" />
      <xs:enumeration value="DELETED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderStatus" nillable="true" type="tns:OrderStatus" />
  <xs:simpleType name="OrderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BUY" />
      <xs:enumeration value="SELL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderType" nillable="true" type="tns:OrderType" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrokerId" type="xs:long" />
      <xs:element minOccurs="0" name="BuyerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyerProvision" type="xs:double" />
      <xs:element minOccurs="0" name="BuyingOrderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FundProvision" type="xs:double" />
      <xs:element minOccurs="0" name="IsFund" type="xs:boolean" />
      <xs:element minOccurs="0" name="NoOfSharesSold" type="xs:int" />
      <xs:element minOccurs="0" name="PricePerShare" type="xs:double" />
      <xs:element minOccurs="0" name="PrioritizedBuyingOrder" type="xs:boolean" />
      <xs:element minOccurs="0" name="PrioritizedSellingOrder" type="xs:boolean" />
      <xs:element minOccurs="0" name="SellerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellerProvision" type="xs:double" />
      <xs:element minOccurs="0" name="SellingOrderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCost" type="xs:double" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="FirmRegistration">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Registration">
        <xs:sequence>
          <xs:element minOccurs="0" name="PricePerShare" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FirmRegistration" nillable="true" type="tns:FirmRegistration" />
  <xs:complexType name="FirmDepot">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirmName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnedShares" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FirmDepot" nillable="true" type="tns:FirmDepot" />
  <xs:complexType name="FirmRequestResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="FirmDepot" nillable="true" type="tns:FirmDepot" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FirmRequestResult" nillable="true" type="tns:FirmRequestResult" />
  <xs:complexType name="RequestResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="ShareInformation" nillable="true" type="tns:ShareInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestResult" nillable="true" type="tns:RequestResult" />
  <xs:complexType name="FundRequestResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="FundDepot" nillable="true" type="tns:FundDepot" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FundRequestResult" nillable="true" type="tns:FundRequestResult" />
  <xs:complexType name="OrderMatchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Matches" nillable="true" type="tns:ArrayOfOrder" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="Transactions" nillable="true" type="tns:ArrayOfTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderMatchResult" nillable="true" type="tns:OrderMatchResult" />
</xs:schema>