Fondsmanager/Service References/localhost/WallstreetDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60129/WallstreetDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" />
  <xs:element name="GetMarketInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="GetMarketInformationResult" nillable="true" type="q1:ArrayOfShareInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShareInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shareName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShareInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="GetShareInformationResult" nillable="true" type="q2:ShareInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutShareInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="info" nillable="true" type="q3:ShareInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvestorInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvestorInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="GetInvestorInformationResult" nillable="true" type="q4:ArrayOfInvestorDepot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvestorDepot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="investorId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvestorDepotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="GetInvestorDepotResult" nillable="true" type="q5:InvestorDepot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutInvestorDepot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="investor" nillable="true" type="q6:InvestorDepot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginInvestor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="registration" nillable="true" type="q7:Registration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginInvestorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="LoginInvestorResult" nillable="true" type="q8:InvestorDepot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginFund">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="registration" nillable="true" type="q9:FundRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginFundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="LoginFundResult" nillable="true" type="q10:FundDepot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="GetOrdersResult" nillable="true" type="q11:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="investorId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="GetPendingOrdersResult" nillable="true" type="q12:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="order" nillable="true" type="q13:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="order" nillable="true" type="q14:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="GetTransactionsResult" nillable="true" type="q15:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="transaction" nillable="true" type="q16:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterFirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="request" nillable="true" type="q17:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterFirmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="RegisterFirmResult" nillable="true" type="q18:FirmDepot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirmDepot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firmName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirmDepotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="GetFirmDepotResult" nillable="true" type="q19:FirmDepot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeOnNewShareInformationAvailable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeOnNewOrderAvailable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeOnNewInvestorDepotAvailable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeOnNewTransactionAvailable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNewInvestorDepotAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="depot" nillable="true" type="q20:InvestorDepot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNewFundDepotAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="depot" nillable="true" type="q21:FundDepot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNewShareInformationAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="info" nillable="true" type="q22:ShareInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNewOrderAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="order" nillable="true" type="q23:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNewTransactionAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="transaction" nillable="true" type="q24:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterBroker">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterBrokerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterBroker">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterBrokerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNewRegistrationRequestAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="request" nillable="true" type="q25:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNewRegistrationRequestAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="OnNewRegistrationRequestAvailableResult" nillable="true" type="q26:FirmRequestResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNewOrderMatchingRequestAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="order" nillable="true" type="q27:Order" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="orders" nillable="true" type="q28:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNewOrderMatchingRequestAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WallstreetDataService.Model" minOccurs="0" name="OnNewOrderMatchingRequestAvailableResult" nillable="true" type="q29:OrderMatchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>